body
    h1 opgave 17 13/4/2023

script.
    async function deletE(url, id) {
        const respons = await fetch(url + '/' + id, {
            method: "DELETE",
            headers: {
                'Content-Type': 'application/json'
            }
        });
        if (respons.status !== 201) // Deleted
            throw new Error(respons.status);
        return await respons.text();
    }

    let deletefunction = async (id) => {
            try {
                await deletE("/deleteBesked", id);
                window.location.href='/beskeder';
            } catch (e) {
                console.log("Fejl");
            }
        }

    async function changeRoom(url, id) {
        const respons = await fetch(url + '/' + id, {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            }
        }) 
        if (respons.status !== 201) //Deleted
            throw new Error(respons.status);
        return await respons.text();
        }

    let clickfunction = async (id) => {
            try {
                await changeRoom("beskeder/" + id);
                window.location.href = "searchBeskeder/" + id;
            } catch (e) {
                console.log("Fejl");
            }
        }

brbr 

button(onclick='clickfunction(1)') Chatrum 1
button(onclick='clickfunction(2)') Chatrum 2
button(onclick='clickfunction(3)') Chatrum 3

brbr 


    ul
        each besked in beskeder 
            li=''
                a(href='javascript:deletefunction(\'' + besked.docID + '\')')= besked.besked + " " + besked.chatrum + ' ' + besked.afsender
    a(href="addBeskedPage") Tilføj besked 
        form(action = "/addBesked", method="get")