body
    h1 opgave 17 13/4/2023

script.
    async function deletE(url, id) {
        const respons = await fetch(url + '/' + id, {
            method: "DELETE",
            headers: {
                'Content-Type': 'application/json'
            }
        });
        if (respons.status !== 201) // Deleted
            throw new Error(respons.status);
        return await respons.text();
    }

    let deletefunction = async (id) => {
            try {
                await deletE("/deleteBesked", id);
                window.location.href='/beskeder';
            } catch (e) {
                console.log("Fejl");
            }
        }

brbr 

    ul
        each besked in beskeder 
            li=''
                a(href='javascript:deletefunction(\'' + besked.besked + '\')')= besked.chatrum + ' ' + besked.afsender
    a(href="addBeskedPage") Tilføj besked 
    form(action = "/searchBeskeder", method="get")
        input(type="text", name="besked")
        input(type="text", name="chatrum")
        input(type="text", name ="afsender") 
        input(type="submit", value="Send besked")